.markdown-source-view .markdown-embed,
.markdown-embed {
	--border-color: var(--background-modifier-border);
	border: none;
	background-color: var(--background-secondary);
	margin-bottom: 0.75rem;
	border-radius: var(--corner-radius);
	padding: 0;
	overflow: hidden;
}

.markdown-embed-title {
	font-weight: var(--inline-title-weight);
	font-size: 1.75em;
	font-style: var(--inline-title-style);
	font-variant: var(--inline-title-variant);
	font-family: var(--inline-title-font);
	letter-spacing: -0.015em;
	padding: 0.25em 1rem;
	color: var(--color-accent);
	background-color: var(--background-secondary-alt);
	white-space: break-spaces;
	display: flex;
	justify-content: center;
}

.markdown-embed-title:empty {
	display: none;
}

.markdown-embed-link {
	color: var(--text-muted);
}

.markdown-embed-link:hover {
	color: var(--text-normal);
}

.markdown-embed-content.markdown-embed-page {
	padding: 1rem;
	padding-bottom: 0;
	padding-top: 2rem;
	max-height: 50vh;
	overflow: auto;
}

.markdown-embed-content {
	padding-left: 1rem;
}

.markdown-embed-content ul {
	margin-top: 0;
	padding-top: 0;
	padding-left: 0.3rem;
}

.markdown-embed-content p {
	margin-block-start: 0.4em;
	margin-block-end: 0.4em;

}

/* if */